* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

:root {
    --white: #fff;
    --black: #000;
    --input-color: #6c6c6c;
    --muted-color: #c4c4c4;
    --blue-transparent: rgba(28, 98, 145, 0.75);
    --blue: #1C6291;
    --orange: #FF692A;
    --gray-text: #897F7F;
    --gray: #F6F4F4;
    --light-gree: #97F188;
    --light-gray: rgba(181,202,216, 0.19);
    --green: #1A7F60;
}

@font-face {
    font-family: 'logoFont';
    src: local('logoFont'), url("../fonts/font.ttf") format("TrueType");
    font-weight: normal;
}

.name{
    text-transform: capitalize;

}