* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

:root {
    --white: #fff;
    --black: #000;
    --orange: #FF692A;
    --blue: #1C6291;
    --gray: #F6F6F6;
}